<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!--拆分后文件存放地址-->
		<add key="TargetDirectory" value="E:\"/>
		<!--选择文件默认打开地址-->
		<add key="InitialDirectory" value="E:\"/>
	</appSettings>
</configuration>